.hidden-table-line {
    background-color: #eeeeee !important;
}

.login-page, .register-page {
    background: url("../img/cms/bart-larue-unsplash.jpg") center center no-repeat !important;
    background-size: cover !important;
}

.login-logo a {
    color: #25c1a3 !important;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

a, .page-link {
    color: #25c1a3;
}

a:hover,
.page-link:hover {
    color: #1da88d;
}

body .btn-primary,
body .btn-primary.focus,
body .btn-primary:focus,
.page-item.active .page-link {
    background: #25c1a3;
    border: #1da88d;
}

.card-primary.card-outline-tabs > .card-header a.active {
    border-top: 3px solid #1da88d;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background: #25c1a3;
    border: #1da88d;
    transition: all .5s;
}

body .btn-primary:hover,
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active:hover,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active:hover {
    background: #1da88d;
}

body .dashboard-img-offline {
    filter: grayscale(100%) !important;
    opacity: 0.5;
}

body .dashboard-img {
    max-width: 265px;
    filter: grayscale(40%);
    transition: all .5s;
}

body .dashboard-img:hover {
    filter: grayscale(0%);
}
