@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url("../../fonts/BebasNeueCyrillic.eot");
    src: url("../../fonts/BebasNeueCyrillic.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeueCyrillic.woff") format("woff"), url("../../fonts/BebasNeueCyrillic.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url("../../fonts/DINPro-Regular.eot");
    src: url("../../fonts/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINPro-Regular.woff") format("woff"), url("../../fonts/DINPro-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Con';
    src: url("../../fonts/DINPro-Cond.eot");
    src: url("../../fonts/DINPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINPro-Cond.woff") format("woff"), url("../../fonts/DINPro-Cond.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}


a:hover, a:link, a:visited {
    text-decoration: none;
    outline: none;
}

::-moz-selection {
    background: #9b449e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #9b449e;
    color: #fff;
    text-shadow: none;
}

input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}


body {
    font-family: 'DIN Con', sans-serif;
    color: #000;
    background: rgb(240, 212, 246);
    background: -moz-linear-gradient(180deg, rgba(240, 212, 246, 1) 0%, rgba(231, 216, 254, 1) 16%, rgba(247, 249, 216, 1) 33%, rgba(234, 211, 255, 1) 66%, rgba(246, 246, 217, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(240, 212, 246, 1) 0%, rgba(231, 216, 254, 1) 16%, rgba(247, 249, 216, 1) 33%, rgba(234, 211, 255, 1) 66%, rgba(246, 246, 217, 1) 100%);
    background: linear-gradient(180deg, rgba(240, 212, 246, 1) 0%, rgba(231, 216, 254, 1) 16%, rgba(247, 249, 216, 1) 33%, rgba(234, 211, 255, 1) 66%, rgba(246, 246, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0d4f6", endColorstr="#f6f6d9", GradientType=1);
}

* {
    outline: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.mw-90 {
    max-width: 90%;
}

.mw-80 {
    max-width: 80%;
}

.bebas-top-fixer {
    margin-top: -20px;
}

.font-din {
    font-family: 'DIN', Arial;
}

.font-bebas {
    font-family: 'Bebas Neue Cyrillic', Arial;
}
.font-arial{
    font-family: Arial;
}
.rub-symbol svg{
    width: 30px;
    height: auto;
    fill: #ec0b3e;
}

.text-shadow-red {
    color: rgba(205, 0, 48, 0.8);
    text-shadow: 1px 1px 1px #fff, 0 0 0 #000
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.green-text {
    color: #038e90;
}

.light-green-text {
    color: #72f2d9;
}

.red-text {
    color: #ec0b3e;
}

.header-text {
    font-family: 'Bebas Neue Cyrillic', Arial;
    font-size: 50px;
    line-height: 50px;
}


.bg-dark-green {
    background: url('../../img/wakeup/v2/dark-green-bg.png') center top repeat-y;
}

.bg-light-green {
    background: url('../../img/wakeup/v2/light-green-bg.png') center top repeat-y;
    background-position: 50% 0;
    transition: background-position 3s;
}

.bg-dark-green,
.bg-light-green {
    background-size: contain;
}

/*HEADER*/
.text-t {
    font-size: 30px;
    font-weight: bold;
    /*-moz-transform: matrix(0.70835283807711, 0, 0, 0.70835283807711, 0, 0);*/
    /*-webkit-transform: matrix(0.70835283807711, 0, 0, 0.70835283807711, 0, 0);*/
    /*-ms-transform: matrix(0.70835283807711, 0, 0, 0.70835283807711, 0, 0);*/
    color: #393939;
    line-height: 30px;
}

.top-logo {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.green-logo {
    max-width: 100px;
}

.fs-18 {
    font-size: 18px;
}

.fulltext {
    padding: 0 10% 0;
    line-height: 22px;
}


/*SLIDER*/
.slider {
    height: 658px;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

.slider::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    display: none !important;
}


.bg-img {
    position: absolute;
    height: auto;
    width: 100%;
    filter: grayscale(0%);
    z-index: 1;
}


.slider-inner {
    height: 1300px;
    position: relative;
    /*filter: none;*/
    /*background: blue;*/
    z-index: 3;
}

.slide-text1,
.slide-text2 {
    color: #fff;
    font-size: 60px;
    font-family: 'DIN Con', Arial;
    font-weight: 900;
    line-height: 60px;
    position: relative;
    max-width: 500px;

}

.slide-text1 {
    top: calc(500px - 40px);
}

.slide-text2 {
    top: 1100px;
    margin-bottom: 20px;
}
.or-button{
    background: #73F2D9;
    color: #000;
    margin-top: 20px;
}

/*COURSE-INFO*/
.show-full-text {
    display: none;
}

.more-link {
    font-size: 22px;
    text-decoration: underline !important;
    color: #000;
}

.more-link:hover,
.more-link:active {
    color: #000;
    text-decoration: none !important;
}


/*SWIPER*/
.swipet-icon {
    max-width: 200px;
    width: 80%;
    padding: 0 10px;
}

.swiper-pagination-bullet {
    background: #038e90;
    opacity: 1;
    width: 10px;
    height: 10px;
    transition: background-color .5s;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

#bottom-swiper-flag {
    bottom: 0;
}


.swiper-button-next,
.swiper-button-prev {
    color: #038e90
}

.swiper-button-next,
.swiper-button-prev {
    top: 38%;
}

/*COURSE STATS*/
#course-stats {
    border-top: 1px solid #038e90;
    border-bottom: 1px solid #038e90;
}

.course-stats-text {
    top: 20%;
    left: 0;
    right: 0;
    font-size: 36px;
    font-weight: 300;
}

.course-stats-number {
    max-height: 100px;
}

/*AUTHOR*/
.author-icon {
    max-width: 200px;
}

.signature-out {
    text-align: right;
}

.signature {
    width: 100%;
    max-width: 330px;
}

/*PRICE*/
.price-block {
    background-color: #fff;
    border: 3px solid #038E90;
    box-shadow: 0px 25px 73px 0px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    max-width: 500px;
    margin: 0 auto;
}

.price-text {
    font-size: 32px;
}

.price-numb {
    font-size: 62px;
    font-weight: 300;
}

.line-through {
    text-decoration: line-through;
}

.btn-custom {
    font-size: 32px;
    border-radius: 30px;
    box-shadow: 0px 25px 73px 0px rgba(0, 0, 0, 0.75);
    transition: all .5s;
}

.btn-custom:hover,
.btn-custom:active {
    box-shadow: none;
}

.price-block-button {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
}


/*FIXED BUTTON*/
#fixed-button {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    width: 100%;
}

/*FOOTER*/
footer {
    background: #72f2d9;
    margin-bottom: 90px;
}

footer .footer-text {
    color: #f3f3f3;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
}

footer .ig-icon {
    max-width: 45px;
    color: #f3f3f3;
}


/*COMMENTS*/
/*All*/
#comments {
    background: #fff;
}

.all-stars-rating {
    font-size: 70px;
    font-family: 'DIN Con', Arial;
}

.leave-comment-txt {
    font-size: 50px;
    font-family: 'DIN Con', Arial;
    line-height: 48px;
}

.comment-star {
    max-width: 40px;
}

.all-rating-progress-bar {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    height: 5px;
}

.all-rating-progress-line {
    display: block;
}

.all-rating-star {
    max-width: 15px;
}
.all-stars-stars {
    width: 100%;
}

.all-rating-total {
    font-size: 22px;
}

.leave-comment-txt {
    border-top-width: 2px;
    border-top-style: solid;
}

.leave-comment-icons-out {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.border-right-custom {
    border-right-width: 0px !important;
    border-right-style: solid !important;
}

.providericon,
.providericon svg {
    cursor: pointer;
}

.nav-tabs .nav-link {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.comment-img {
    width: 100%;
    max-width: 70px;
    border-radius: 50%;
    box-shadow: 0px 5px 4.6px 0.4px rgba(0, 0, 0, 0.75);
    border-width: 3px;
    border-style: solid;
}

.comment-log {
    max-width: 35px;
    min-height: 10px;
}

.comment-log svg {
    stroke: #cccccc;
}

.comment-date {
    font-family: 'DIN', Arial;
    color: #b0b0b0;
    font-size: 16px;
}

.comment-name {
    font-family: 'DIN Con', Arial;
    font-size: 28px;
    line-height: 30px;
}

.comment-name a {
    text-decoration: underline;
    line-height: 32px;
}

.all-stars-stars {
    margin-left: 0 !important;
}

.comment-name .all-stars-stars img {
    width: 20px;
}

.comment-text {
    font-family: 'DIN', Arial;
    color: #424242;
    font-size: 1rem;
    line-height: 1.2;
}

.comment-textarea {
    border-width: 2px;
    border-style: solid;
}

#comments .btn-custom {
    font-size: 20px;
    box-shadow: none;
}
#comments .pagination{;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#comments .page-item.active .page-link{
    color: #fff;
}

@media screen and (min-width: 992px) {
    .comment-name .all-stars-stars img {
        width: 30px;
    }
    .fulltext {
        padding: 0 20% 0;
        line-height: 1.5;
    }

    .border-right-custom {
        border-right-width: 2px !important;
    }

}

@media screen and (min-width: 600px) {
    .all-stars-stars {
        margin-left: 3rem !important;
        width: auto;
    }
}

/*current*/
#comments .header-text,
.all-stars-rating,
.all-rating-total,
.leave-comment-txt,
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.comment-name a,
#comments .page-link{
    color: #038e90;
}

#comments .border-right,
#comments .all-rating-progress-bar,
#comments .leave-comment-txt,
#comments .leave-comment-icons-out,
#comments .nav-tabs .nav-item.show .nav-link,
#comments .nav-tabs .nav-link.active,
#comments .nav-tabs .nav-link:focus,
#comments .nav-tabs .nav-link:hover,
#comments .comment-img,
#comments .comment-textarea,
#comments .btn-custom,
#comments .border-right-custom,
#comments .page-item.active .page-link{
    border-color: #038e90 !important;
}

#comments .all-rating-progress-line,
#comments .btn-custom,
#comments .page-item.active .page-link{
    background-color: #038e90;
}

/*
stars color
https://codepen.io/sosuke/pen/Pjoqqp
 */
#comments .comment-star-full,
#comments .comment-star-empty {
    filter: invert(30%) sepia(38%) saturate(3993%) hue-rotate(160deg) brightness(99%) contrast(98%)
}


/*DESKTOP FIXER*/
@media screen and (min-width: 765px) {
    .text-center-desktop {
        text-align: center;
    }

}

body .btn-custom-fix-reg {
    width: 100%;
}

@media screen and (min-width: 991px) {

    .bg-dark-green {
        background: url('../../img/wakeup/v2/dark-green-bg-d.png') center top repeat-y;
    }

    .bg-light-green {
        background: url('../../img/wakeup/v2/light-green-bg-d.png') center top repeat-y;
    }

    .bg-dark-green,
    .bg-light-green {
        background-size: contain;
    }

    footer .footer-text {
        font-size: 28px;
        text-align: left;
    }

    body .btn-custom-fix-reg {
        width: 50%;
    }

}


/*.demo-lorem {*/
/*    min-height: 3000px;*/
/*}*/
