@media (max-width: 768px) {
    .header-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .not-container {
        margin-left: 0;
    }

    .reviews {
        width: 320px;
    }

    .text {
        width: 320px;
    }

    .slider {
        width: 320px;
    }

    .slideText {
        width: 320px;
    }

    .slidersss,
    .sliderss {
        width: 260px;
    }

    .slideText {
        font-size: 16px;
        width: 250px;
    }

    .modal_div {
        width: 320px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 27px;
    }

    h5 {
        padding-top: 30px;
    }

    .header-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .not-container {
        width: 270px;
    }

    .header-data {
        font-size: 20px;
        text-align: center;
    }

    .header-p {
        font-size: 16px;
        text-align: center;
    }

    .button {
        font-size: 16px;
    }

    .text-img img {
        width: 50px;
    }

    .text p {
        font-size: 16px;
    }

    .secret-item-padding {
        padding: 40px;
        margin-top: 50px;
    }

    .secret-item-padding p {
        font-size: 16px;
    }


    .autor {
        display: block;
        background: url(../../img/wakeup/bg2.png);
        background-size: cover;
        background-position: center center;
        margin: 15px;
    }

    .autor-item-padding {
        padding: 40px 40px 0 40px;
    }

    .autor-item p {
        font-size: 16px;
    }

    .timur {
        font-size: 30px;
        display: flex;
        justify-content: flex-end;
        width: 130px;
        margin-left: 130px;
        padding-bottom: 40px;
        padding-top: 100px;
    }

    .slidesubtitle {
        padding-top: 7px;
        font-size: 18px;
        margin: 0 auto;
        width: 250px;
    }

    .custom-prev {
        width: 40px
    }

    .price {
        display: block;
        background: #fff;
        height: 200px;
    }

    #price1 {
        display: none;
        background: url(../../img/wakeup/bg3.png);
        background-size: cover;
        margin: 15px;
        height: 255px;
    }

    #price2 {
        background: url(../../img/wakeup/bg3-mirror.png);
        background-size: cover;
        margin: 15px;
        height: 300px;
        padding-left: 60px;
        background-position: right center;
    }

    .paket {
        padding-top: 30px;
        font-size: 18px;
    }

    .paket-padding {
        padding-left: 140px;
    }

    .what-paket {
        font-size: 18px;
        height: auto;
    }

    .price-price {
        padding-top: 40px;
        font-size: 16px;
    }

    .price-value {
        font-size: 30px;
        font-weight: 700;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .header-shapes-wrapper {
        margin-top: 30px;
    }

    .header-shape {
        width: 105px;
        margin: 10px;
        font-size: 14px;
        padding: 10px;
    }

    .program {
        padding-top: 0;
        margin: 10px;
    }

    .program-slide {
        height: 100px;
        margin: 10px;
    }

    .program-slide p {
        font-size: 16px;
        font-weight: 700;
    }

    .when {
        font-size: 28px;
    }

    .button-wrapper {
        margin: 0 0 40px 0;
    }

    .nav {
        padding-top: 40px;
    }

    .review-img img {
        width: 60px;
    }

    .review-wrapper {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .review-text {
        padding-left: 10px;
        font-size: 14px;
    }

    .review-flex-right {
        padding-top: 10px;
        margin-right: 15px;
    }

    .reviews {
        margin: 10px;
    }

    .modal_div {
        width: 290px;
        margin-left: -150px;
        height: 350px;
        margin-top: -150px;
    }

    .modal-data {
        font-size: 18px;
    }

    .modal-title {
        font-size: 16px;
    }

    .modal-data-detail__data {
        font-size: 15px;
    }

    .modal-data-detail__text {
        font-size: 14px;
    }

    .modal-custom-prev {
        width: 35px;
    }

    .button-wrapper {
        padding-top: 20px;
    }

    .slide1 {
        padding-bottom: 0;
    }

    .timur-tochka-last {
        display: none;
    }
}

@media (max-width: 321px) {
    .header-shape {
        width: 140px;
    }
}

@media (max-width: 1078px) {
    .secret {
        display: block;
        background: url(../../img/wakeup/facts-vertical.png);
        background-size: contain;
        min-height: 400px;
        background-position: top center;
        margin: 15px 0 !important;
        background-repeat: no-repeat;
    }
}
