@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

@font-face {
    font-family: 'DIN';
    src: url("../../fonts/DINPro-Regular.eot");
    src: url("../../fonts/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINPro-Regular.woff") format("woff"), url("../../fonts/DINPro-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Con';
    src: url("../../fonts/DINPro-Cond.eot");
    src: url("../../fonts/DINPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINPro-Cond.woff") format("woff"), url("../../fonts/DINPro-Cond.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 50px;
}

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

.container {
    max-width: 1100px;
    margin   : 0 auto;
}

h1 {
    font-size: 90px;
}

h2 {
    text-align: center;
    font-size : 38px;
}

h3 {
    font-size     : 38px;
    padding-bottom: 20px;
}

h4 {
    font-size  : 90px;
    padding-top: 50px;
}

h5 {
    text-align: center;
    font-size : 28px;
}

.header-wrapper {
    display: flex;
	position: relative;
}

.not-container {
    margin-left: -70px;
}

.margin-left {
    /*margin-left: -50px;*/
}

.header-data {
    font-size: 58px;

    margin-top: 40px;
}

.header-p {
    margin-top   : 10px;
    font-size    : 21px;
    margin-bottom: 35px;

}

.button {
    background     : #1fa7b5;
    color          : #fff;
    padding        : 10px 35px;
    text-decoration: none;
    border-radius  : 5px;
    font-size      : 26px;
}

.header-shapes-wrapper {
    margin-top: 130px;
}

.header-shapes {
    display  : flex;
    flex-wrap: wrap;
}

.header-shape {
    width       : 155px;
    margin-right: 20px;
    margin-top  : 20px;
    background  : #eeeeee;
    padding     : 20px;
    font-weight : 700;
    height      : 200px
}

.header-shape img {
    margin-bottom: 15px;
}

.text-wrapper {
    margin-top: 40px;
    display   : flex;
}

.text {
    margin-left: 20px;
    width      : 900px;
}

.text p {
    font-size  : 38px;
    font-weight: 700;
}

.button-wrapper {
    margin         : 60px 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.for-you {
    text-align: center;
    font-size : 28px;
}

.slider {
    margin-top   : 40px;
    width        : 700px;
    position     : relative;
    margin       : auto;
    margin-bottom: 15px;
    height       : 250px;
}
.slidesubtitle {
    padding-top: 7px;
    font-size: 18px;
    margin: 0 auto;
    width: 500px;
}

.item {
    margin-top: 30px;
}

/* Кнопки вперед и назад */
.slider .prev,
.slider .next {
    cursor       : pointer;
    position     : absolute;
    top          : 0;
    top          : 50%;
    width        : auto;
    margin-top   : -22px;
    padding      : 16px;
    color        : #d2d2d2;
    font-size    : 58px;
    transition   : 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .prev:hover,
.slider .next:hover {
    color: #000;
}

.slider .next {
    right: 0;
}

.slider .prev {
    left: 0;
}

/* Заголовок слайда */
.slideText {
    font-size: 25px;
    width    : 600px;
    margin   : 0 auto;
}

/* Кружочки */
.slider-dots {
    text-align: center;
}

.slider-dots_item {
    cursor          : pointer;
    height          : 8px;
    width           : 8px;
    margin          : 0 2px;
    background-color: #1fa7b5;
    border-radius   : 50%;
    display         : inline-block;
    transition      : background-color 0.6s ease;
}

/*.active,
.slider-dots_item:hover {
    background-color: #1fa7b5;
    height          : 14px;
    width           : 14px;

}*/

/* Анимация слайдов */
.slider .item {
    -webkit-animation-name    : fade;
    -webkit-animation-duration: 1.5s;
    animation-name            : fade;
    animation-duration        : 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.secret {
    margin    : 100px 0;
    background: #f1f1f1;
    display   : flex;
    background: url(../../img/index/facts.png);
    height    : 540px;
}

.secret-item {
    flex-basis: 50%;
}

.secret-item p {
    font-size: 25px;
    font-weight: 700;
}

.secret-item-padding {
    padding: 80px;
}

.dialog {
    padding: 10px 0;
}

.autor {
    background     : url(../../img/index/img5.png);
    background-size: cover;
    display        : flex;
    color          : #fff;
    padding-bottom : 30px;
}

.autor-item {
    flex-basis: 45%;
}

.autor-item-timur {
    flex-basis   : 55%;
    align-self   : flex-end;
    padding-right: 40px;
}

.autor-item-padding {
    padding: 80px 80px 0 80px;
}

.autor p {
    padding-bottom: 20px;
    font-size     : 25px;
}

.timur {
    text-align: right;
    font-size : 90px;
    font-weight: 700;
}

.program {
    display    : flex;
    padding-top: 115px;
    position   : relative;
}

.program-item {
    flex-basis: 50%;
}

.program-slides {
    display: flex;
}

.program-slide {
    flex-basis: 50%;
    height    : 190px;
}

.when {
    font-size  : 90px;
    font-weight: 700;
}

.program-slide p {
    font-size: 38px;
}

.program-a {
    color          : #000;
    font-size      : 21px;
    text-decoration: none;
    border-bottom  : 1px solid #000;
}

.price {
    display   : flex;
    background: url(../../img/index/img7.png);
    margin    : 50px 0 100px 0;
    height    : 460px;
}

.price-item {
    flex-basis: calc(100%/3);
}

.paket {
    padding-top: 60px;
    font-size  : 21px;
    font-weight: 700;
}

.what-paket {
    font-size: 28px;
    height   : 160px;
}

.price-price {
    font-size: 21px;
}

.price-value {
    font-size     : 58px;
    padding-bottom: 20px;
}

.paket-padding {
    padding-left: 100px;
}

.reviews {
    width : 830px;
    margin: 0 auto;
}

.review-wrapper {
    padding-top   : 50px;
    padding-bottom: 70px;
}

.review {
    display: flex;
}

.review-img img {
    width: 120px;
}

.review-text {
    padding-left: 40px;
    font-size   : 21px;
}

.review-name {}

.review-link {
    text-align: right;
}

.review-link a {

    color          : #868686;
    text-decoration: none;
    border-bottom  : 1px solid #868686;
}

.review-flex {
    display: flex;
}

.review-flex-left {
    flex-basis: 90%;
}

.review-flex-right {
    flex-basis: 10%;
}

#slides {
    position       : relative;
    height         : 300px;
    padding        : 0px;
    margin         : 0px;
    list-style-type: none;
}

.slide {
    position : absolute;
    left     : 0px;
    top      : 0px;
    width    : 100%;
    height   : 100%;
    opacity  : 0;
    z-index  : 1;
    font-size: 40px;
    padding  : 40px;

    -webkit-transition: opacity 1s;
    -moz-transition   : opacity 1s;
    -o-transition     : opacity 1s;
    transition        : opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide1 {
    margin-top: 40px;
}

.slidersss,
.sliderss {
    width : 700px;
    margin: 0 auto;
}

.slide1 {
    text-align    : center;
    padding-bottom: 90px;
}

.slide1 img {
    margin: 0 auto;
}

.owl-stage {
    padding-left: 0px !important;
}

.owl-prev {
    display: none;
}

.custom-prev {
    cursor: pointer;
}

/*Модальное окно*/
.modal_div {
    width : 1100px;
    height: 550px;
    /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    background   : #fff;
    position     : fixed;
    /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%;
    /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%;
    /* пoлoвинa экрaнa слевa */
    margin-top : -250px;
    margin-left: -550px;
    /* oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo */
    display: none;
    /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0;
    /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5;
    /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 30px 20px;
}

/* Кнoпкa зaкрыть */
.modal_close {
    position    : relative;
    margin-top  : -5px;
    margin-right: 10px;
    cursor      : pointer;
}

.modal_close:before {
    content   : '';
    width     : 3px;
    height    : 20px;
    position  : absolute;
    background: #000;
    transform : rotate(45deg);
    right     : 0;
}

.modal_close:after {
    content   : '';
    width     : 3px;
    height    : 20px;
    position  : absolute;
    background: #000;
    transform : rotate(-45deg);
    right     : 0;
}

/* Пoдлoжкa */
#overlay {
    z-index: 3;
    /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed;
    /* всегдa перекрывaет весь сaйт */
    background-color: #000;
    /* чернaя */
    opacity: 0.8;
    /* нo немнoгo прoзрaчнa */
    -moz-opacity: 0.8;
    /* фикс прозрачности для старых браузеров */
    filter: alpha(opacity=80);
    width : 100%;
    height: 100%;
    /* рaзмерoм вo весь экрaн */
    top: 0;
    /* сверху и слевa 0, oбязaтельные свoйствa! */
    left   : 0;
    cursor : pointer;
    display: none;
    /* в oбычнoм сoстoянии её нет) */
}

.modal-data {
    margin-top : 30px;
    text-align : center;
    font-size  : 58px;
    font-weight: 700;
}

.modal-title {
    text-align : center;
    font-size  : 38px;
    font-weight: 700;
}

.modal-wrapper__container {
    max-width: 840px;
    margin   : 0 auto;
}

.modal-wrapper {
    display: flex;
}

.modal-data-detail {
    margin: 5px;
}

.modal-data-detail__data {
    font-size  : 25px;
    font-weight: 700;
}

.modal-data-detail__text {
    font-size: 18px;
}

.nav-modal-one,
.nav-modal-two,
.nav-modal-three {
    position: absolute;
    right   : 0;
}

.modal-custom-prev {
    width : 75px;
    cursor: pointer;
}
.timur-tochka, .timur-tochka-last {
    position: relative;
    left: 20px;
}
.timur-tochka:before, .timur-tochka-last:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    left: -16px;
}
.slide1 img {
    width: 115px;
    padding-bottom: 10px;
}

img.access {
    position: absolute;
    top: -40px;
    right: 10px;
}




/*COMMENTS*/
/*All*/
#comments {
    background: #fff;
}

.all-stars-rating {
    font-size: 70px;
    font-family: 'DIN Con', Arial;
}

.leave-comment-txt {
    font-size: 50px;
    font-family: 'DIN Con', Arial;
    line-height: 48px;
}

.comment-star {
    max-width: 40px;
}

.all-rating-progress-bar {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    height: 5px;
}

.all-rating-progress-line {
    display: block;
}

.all-rating-star {
    max-width: 15px;
}

.all-rating-total {
    font-size: 22px;
}

.leave-comment-txt {
    border-top-width: 2px;
    border-top-style: solid;
}

.leave-comment-icons-out {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.border-right-custom {
    border-right-width: 0px !important;
    border-right-style: solid !important;
}

.providericon,
.providericon svg {
    cursor: pointer;
}

.nav-tabs .nav-link {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.comment-img {
    width: 100%;
    max-width: 70px;
    border-radius: 50%;
    box-shadow: 0px 5px 4.6px 0.4px rgba(0, 0, 0, 0.75);
    border-width: 3px;
    border-style: solid;
}

.comment-log {
    max-width: 35px;
    min-height: 10px;
}

.comment-log svg {
    stroke: #cccccc;
}

.comment-date {
    font-family: 'DIN', Arial;
    color: #b0b0b0;
    font-size: 16px;
}

.comment-name {
    font-family: 'DIN Con', Arial;
    font-size: 28px;
    line-height: 30px;
}

.comment-name a {
    text-decoration: underline;
    line-height: 32px;
}

.all-stars-stars {
    margin-left: 0 !important;
}

.comment-name .all-stars-stars img {
    width: 20px;
}

.comment-text {
    font-family: 'DIN', Arial;
    color: #424242;
    font-size: 1rem;
    line-height: 1.2;
}

.comment-textarea {
    border-width: 2px;
    border-style: solid;
}

#comments .btn-custom {
    font-size: 20px;
    box-shadow: none;
}
#comments .pagination{;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#comments .page-item.active .page-link{
    color: #fff;
}

@media screen and (min-width: 992px) {
    .comment-name .all-stars-stars img {
        width: 30px;
    }

    .border-right-custom {
        border-right-width: 2px !important;
    }

}

@media screen and (min-width: 600px) {
    .all-stars-stars {
        margin-left: 3rem !important;
    }
}

/*current*/
#comments .header-text,
.all-stars-rating,
.all-rating-total,
.leave-comment-txt,
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.comment-name a,
#comments .page-lin{
    color: #038e90;
}

#comments .border-right,
#comments .all-rating-progress-bar,
#comments .leave-comment-txt,
#comments .leave-comment-icons-out,
#comments .nav-tabs .nav-item.show .nav-link,
#comments .nav-tabs .nav-link.active,
#comments .nav-tabs .nav-link:focus,
#comments .nav-tabs .nav-link:hover,
#comments .comment-img,
#comments .comment-textarea,
#comments .btn-custom,
#comments .border-right-custom,
#comments .page-item.active .page-link{
    border-color: #038e90 !important;
}

#comments .all-rating-progress-line,
#comments .btn-custom,
#comments .page-item.active .page-link{
    background-color: #038e90;
}

/*
stars color
https://codepen.io/sosuke/pen/Pjoqqp
 */
#comments .comment-star-full,
#comments .comment-star-empty {
    filter: invert(30%) sepia(38%) saturate(3993%) hue-rotate(160deg) brightness(99%) contrast(98%)
}


/*.comment-img{*/
/*    border-radius: 50%;*/
/*}*/
/*.comment-name h5{*/
/*    text-align: left;*/
/*}*/
/*.comment-name a{*/
/*    font-weight: 600;*/
/*}*/
/*.comment-text {*/
/*    line-height: 1.3em;*/
/*}*/

/*.icon-img{*/
/*    max-height:60px;*/
/*    width: auto;*/
/*}*/
/*.icon-block{*/
/*    height: 80px;*/
/*}*/


/*.comment-img{*/
/*    border: 3px solid #1EA7B5;*/
/*    width:60px !important;*/
/*    box-shadow:*/
/*        0px 3px 4px #777,*/
/*        inset 0px 3px 4px #777;*/
/*}*/
/*.comment-star{*/
/*    width: auto;*/
/*    max-height: 25px;*/
/*}*/
/*.comment-name a{*/
/*    color:#1EA7B5;*/
/*    text-decoration: underline;*/
/*}*/
/*.comment-star-select{*/
/*    cursor: pointer;*/
/*}*/
/*.comments-number{*/
/*    color:#000;*/
/*    font-size: 40px !important;*/
/*}*/
/*.total-rating{*/
/*    color:#000;*/
/*    font-weight: 900;*/
/*    font-size: 50px !important;*/
/*}*/
/*.leave-comment-txt{*/
/*    color:#212529;*/
/*    font-size: 30px !important;*/
/*    line-height: 1em;*/
/*}*/
/*.comment-textarea{*/
/*    background: #f0f0f0;*/
/*    -moz-box-shadow:    inset 0 0 7px #777;*/
/*    -webkit-box-shadow: inset 0 0 7px #777;*/
/*    box-shadow:         inset 0 0 7px #777;*/
/*}*/
/*.leave-comment-txt-block{*/
/*    border-top:1px solid #000;*/
/*    border-bottom:1px solid #000;*/
/*}*/

.comment-text,
.swal-title
.swal-text{
    color:#212529 !important;
}

.btn.btn-mint,
.swal-button{
    background: #1EA7B5 !important;
    color: #fff !important;
}




@media screen and (max-width: 991px){
    .text-center-mobile {
        text-align: center !important;
    }
}
